<!DOCTYPE html>
<html lang="zxx">


<!-- Mirrored from html-templates.evonicmedia.com/kinderdot/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Mar 2025 10:24:33 GMT -->
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <!-- Meta description (Important for SEO) -->
    <meta name="description" content="<%= seoDetails?.metaDescription || '' %>">

    <!-- Open Graph meta tags for social sharing -->
    <meta property="og:title" content="<%= seoDetails?.title || '' %>">
    <meta property="og:description" content="<%= seoDetails?.metaDescription || '' %>">
    <meta property="og:image" content="<%= seoDetails?.metaImage || '' %>">
    <meta name="author" content="Karyasiddhi">
    <meta property="og:type" content="website">

    <meta name="keywords" content="<%= seoDetails?.keywords || '' %>"> 
    <link rel="canonical" href="<%= seoDetails?.canonical || '' %>" />


    <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="<%= seoDetails?.title || '' %>">
        <meta name="twitter:description" content="<%= seoDetails?.metaDescription || '' %>">
        <meta name="twitter:image" content="<%= seoDetails?.metaImage || '' %>">
        <meta name="twitter:url" content="<%= seoDetails.canonical || ''  %>">
    <!--====== Title ======-->
    <title><%= seoDetails?.title %></title>
    <link rel="icon" href="/assets/images/fevicon.png" type="image/x-icon">
  <!-- faremwork of css -->
  <link rel="stylesheet" href="/assets/css/bootstrap-lib/bootstrap.min.css" />
  <!-- style sheet of css -->
  <link rel="stylesheet" href="/assets/css/style.css" />
  <!-- Responsive sheet of css -->
  <link rel="stylesheet" href="/assets/css/responsive.css" />
  <!-- fonts awsome icon link  -->
  <link rel="stylesheet" href="/assets/font-awesome-lib/icon/font-awesome.min.css" />
  <!-- slick-slider link css -->
  <link rel="stylesheet" href="/assets/css/slick.min.css" />
<link rel="stylesheet" href="/assets/css/swiper-bundle.css">
  <!-- Font Awesome CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

  <div class="site-wrapper">
    <header>
      <nav class="navbar navbar-expand-lg container py-3" data-aos="fade-down">
        <div class="container-fluid">
          <!-- site logo -->
          <a class="nav-logo p-0" href="/">
            <figure><img style="width: 190px !important;" src="/assets/images/logo.webp" alt="logo" /></figure>
          </a>
          <!-- navigation button  -->
          <div class="d-flex gap-md-3">
            <button class="open-aside" onclick="open_aside()" type="button">
              <i class="fa-solid fa-bars"></i>
            </button>
            <!-- navigation bar manu  -->
            <div class="d-flex justify-content-end gap-xl-4 gap-lg-3">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex justify-content-center align-items-center gap-lg-3 gap-md-2 gap-sm-2 gap-2 mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                  </li>
                  <li class="dropdown">
                    <a class="nav-link d-flex align-item-center gap-1" href="#">About<i class="fa-sharp fa-solid fa-sort-down"></i></a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/about">About Us</a></li>
                      <li><a class="dropdown-item" href="/our-spaces">Our Spaces and <br> Amenities</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a class="nav-link d-flex align-item-center gap-1" href="#">Alphabetz World<i class="fa-sharp fa-solid fa-sort-down"></i></a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/our-curriculum">Our Curriculum</a></li>
                      <li><a class="dropdown-item" href="/our-programmes">Our Programmes</a></li>
                      <li><a class="dropdown-item" href="/a-day-at-alphabetz">A Day at Alphabetz</a></li>
                      <li><a class="dropdown-item" href="/alphabetz-commits">Alphabetz commits</a></li>
                      <li><a class="dropdown-item" href="/smart-speak">Smart Speak</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/blogs">Blogs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/gallery">Gallery</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                  </li>
                </ul>
              </div>
              <div>
                <a href="tel:8889898805" class="hovering" id="getStartedAnchor"><i class="fa fa-phone" style="padding-right: 0.5rem;"></i> +91 88898 98805</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <a class="side-button hover1" href="/admission" >
        Admission Query
      </a>
      <!--===== aside navigation slidebar =====-->
      <aside>
        <div id="mySidenav" class="right-sidbar">
          <div class="side-nav-logo d-flex justify-content-between align-items-center ps-2 pe-1 nav-logo">
            <figure class="navbar-brand">
              <a href="/">
                <img src="assets/images/logo.webp" alt="Logo" />
              </a>
            </figure>
            <button class="close-aside fa-solid fa-xmark" onclick="close_aside()"></button>
          </div>
          <ul class="pt-4">
        
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
              <div class="d-flex align-items-center justify-content-between">
                <button class="a-slid page-btn slid-btn" style="padding:0.5rem 1rem">About</button>
                <i class="fa-solid fa-caret-down pe-2"></i>
              </div>
              <ul class="slid-drop">
                <li><a href="/about">About Us</a></li>
                <li><a href="/our-spaces">Our Spaces and Amenities</a></li>
              </ul>
            </li>
            
            <li class="nav-item">
              <div class="d-flex align-items-center justify-content-between">
                <button class="a-slid page-btn slid-btn" style="padding:0.5rem 1rem">Alphabetz World</button>
                <i class="fa-solid fa-caret-down pe-2"></i>
              </div>
              <ul class="slid-drop">
                <li><a href="/our-curriculum">Our Curriculum</a></li>
                <li><a href="/our-programmes">Our Programmes</a></li>
                <li><a href="/a-day-at-alphabetz">A Day at Alphabetz</a></li>
                <li><a href="/alphabetz-commits">Alphabetz Commits</a></li>
                <li><a href="/smart-speak">Smart Speak</a></li>
              </ul>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/blogs">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </aside>

      <div class="icon-bar">
              
        <a href="https://api.whatsapp.com/send?phone=+918889898805&amp;text=Hello,%20I%20am%20interested%20in%20learning%20more%20about%20your%20preschool.%20Could%20you%20please%20share%20details%20on%20admissions%20and%20programs?"
   target="_blank" 
   class="twitter" 
   aria-label="Contact us on WhatsApp">
  <i class="fab fa-whatsapp" aria-hidden="true"></i>
</a>
 
        <div class="iq-waves">
        <div class="waves wave-1"></div>
        <div class="waves wave-2"></div>
        <div class="waves wave-3"></div>
        <div class="waves wave-4"></div>
        </div>
      </div>
    </header>
    
    <style>
      .slid-drop {
        display: none !important;
        padding-left: 2rem !important;
      }
      
      .slid-drop.aside-dropdwon {
        display: block !important;
      }
      
    </style>
    
    <script>
      // ====== 1.1 header (aside navigation bar) ======
      function open_aside() {
        "use strict";
        const sidepanel = document.getElementById("mySidenav");
        if (sidepanel) {
          sidepanel.style.left = "0";
        } else {
          console.error("Error: Side panel element not found!");
        }
      }
    
      function close_aside() {
        "use strict";
        const sidepanel = document.getElementById("mySidenav");
        if (sidepanel) {
          sidepanel.style.left = "-355px";
        } else {
          console.error("Error: Side panel element not found!");
        }
      }
    
      // Fix: aside page button dropdown functionality
      document.querySelectorAll(".nav-item").forEach((item) => {
        const button = item.querySelector(".slid-btn");
        const arrow = item.querySelector("i.fa-caret-down");
        const dropdown = item.querySelector(".slid-drop");
      
        function toggleDropdown() {
          if (dropdown) {
            dropdown.classList.toggle("aside-dropdwon");
          }
        }
      
        if (button) button.addEventListener("click", toggleDropdown);
        if (arrow) arrow.addEventListener("click", toggleDropdown);
      });
      
    
      // ====== 1.1 header (dropdown bar) ======
      const dropdowns = document.querySelectorAll(".navbar .dropdown");
      dropdowns.forEach((dropdown) => {
        const dropdownMenu = dropdown.querySelector(".dropdown-menu");
        dropdownMenu.style.maxHeight = "0";
        dropdown.addEventListener("mouseenter", () => {
          dropdownMenu.style.visibility = "visible";
          dropdownMenu.style.maxHeight = `${dropdownMenu.scrollHeight}px`;
        });
        dropdown.addEventListener("mouseleave", () => {
          dropdownMenu.style.visibility = "hidden";
          dropdownMenu.style.maxHeight = "0";
        });
      });
    </script>
    